<div class="caja-padre">
    <div class="contenedor">
        <h2>Mis Habilidades</h2>

        <div class="skills">
            <div class="detalles">
                <span>HTML</span>
                <span> 90%</span>
            </div>

            <div class="menu">
                <div id="html-menu"></div>
            </div>
        </div>


        <div class="skills">
            <div class="detalles">
                <span>CSS</span>
                <span> 70%</span>
            </div>

            <div class="menu">
                <div id="css-menu"></div>
            </div>
        </div>

        <div class="skills">
            <div class="detalles">
                <span>JAVASCRIPT</span>
                <span> 45%</span>
            </div>

            <div class="menu">
                <div id="js-menu"></div>
            </div>
        </div>


    </div>
</div>