<div class="caja-padre">
    <hr color="white">
    <h2 class="titulo"><u>Acerca de</u></h2>
    <div>
        <p id="nombre">{{persona.nombre}}</p>
    </div>
    <h3 class="titulo2">20 años</h3>
    <div class="editar">
        <button class="botoninfo" onclick="cambiar_acercade()">
            <b>editar info</b>
        </button>
    </div>
    <div>
        <p id="text-acercade">Estudiante de programacion en "#ArgentinaPrograma".</p>
    </div>
    <div>
        <input id="edit-acercade" type="text" oninput="myFunction2(this.value)" style="display:none" class="botoninfo">
    </div>
    <div class="acercade">
        <img class="imgkevin" src="assets/img/yop.jpg">
    </div>

    <hr>
</div>