<div class="caja-padre">
    <h2 class="titulo" id="XP"><u>Experiencia Laboral</u></h2>
    <div class="acerca">
        <button class="botoninfo" onclick="cambiar_experiencia()">
            <b>editar info</b>
        </button>
    </div>
    <div class="experiencia">
        <ul>
            <li>
                <h2><u>Trabajo 1</u></h2>
                <h3> - (Años)</h3>
            </li>
            <p id="text-experiencia">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non odio magnam quo
                labore voluptas dicta neque iusto cum iure provident.</p>
        </ul>
        <br>
        <ul>
            <li>
                <h2><u>Trabajo 2</u></h2>
                <h3> - (Años)</h3>
            </li>
            <p id="text-experiencia">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non odio magnam quo
                labore voluptas dicta neque iusto cum iure provident.</p>
        </ul>
        <br>
        <ul>
            <li>
                <h2><u>Trabajo 3</u></h2>
                <h3> - (Años)</h3>
            </li>
            <p id="text-experiencia">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non odio magnam quo
                labore voluptas dicta neque iusto cum iure provident.</p>
        </ul>
        <br>

    </div>
    <div>
        <input id="edit-experiencia" type="text" oninput="myFunctionexp(this.value)" style="display:none"
            class="botoninfo">
    </div>
</div>
<hr color="white">