<div class="caja-padre">
    <h2 class="titulo"><u>Educacion</u></h2>
    <div class="acerca">
        <button class="botoninfo" onclick="cambiar_educacion()">
            <b>editar info</b>
        </button>
    </div>
    <div class="educacion">
        <ul>
            <li>
                <p><i>cursando en "#ArgentinaPrograma".</i></p>
            </li>
        </ul>
        <br>
        <ul>
            <li>
                <p><i>Bachiller en Ciencias Sociales en E.E.S.N 66, La Matanza, año 2021.</i></p>
            </li>
        </ul>
    </div>
    <div>
        <input id="edit-educacion" type="text" oninput="myFunctionedu(this.value)" style="display:none"
            class="botoninfo">
    </div>
</div>

<hr color="sky blue">