<hr color="sky blue">
<div class="caja-padre">
    <h2 class="titulo" id="proyectos"><u>Proyectos</u></h2>

    <div>
        <p id="text-proyectos">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste laudantium deleniti odit
            illum deserunt, maiores doloribus tempora laborum repellat voluptas qui nisi, eveniet voluptatibus vero,
            voluptatem error. Veniam, repudiandae libero?</p>
    </div>
</div>
<div>
    <button class="btninicio">
        <a href="#inicio">Volver a Inicio</a>
    </button>
</div>
<br>