<header>
    <div class="caja-padre">
        <div>
            <a href="https://argentinaprograma.inti.gob.ar/" target="_blank"><img src="assets/img/logo.png">
            </a>
        </div>
        <nav id="inicio">
            <a href="#inicio">Inicio</a>
            <a href="https://github.com/kevinperez94" target="_blank">Github</a>
            <a href="mailto:kevinperez94@outlook.com.ar">Contacto</a>
            <a href="https://www.instagram.com/kevinperez.94/" target="_blank">Instagram</a>
            <a href="https://www.twitter.com/kevinperezz94" target="_blank">Twitter</a>
            <button type="button" class="login">Ingresar</button>
        </nav>


    </div>

</header>